<!DOCTYPE html>
<html 
    lang="pt-br"
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="'Index'"
    th:with="currentPage='compraDireta'">
    
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title></title>
</head>

<body>
	<div class="container" layout:fragment="conteudo">
		<h1 class="text-center">Pesquisar Compra Direta</h1>

		<div aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/}">Dashboard</a></li>
				<li class="breadcrumb-item active" aria-current="page">Compra Diretas</li>
				<li class="breadcrumb-item"><a th:href="@{/comprasdiretas/novo}">Novo</a></li>
			</ol>
		</div>

		<form method="GET" th:object="${compraDiretaFilter}" th:action="@{/comprasdiretas}">
			<div class="row">
				<div class="form-group col-sm-3">
					<label class="form-control-label" for="numero"><span class="text-danger">*</span>Numero</label>
					<input th:field="*{numero}" type="text" class="form-control" id="numero" th:errorclass="is-invalid" autocomplete="off">
				</div>
				
				<div class="form-group col-sm-3 date">
					<label class="form-control-label" for="dataOrdem"><span class="text-danger">*</span>Data da Ordem</label>
					<input th:field="*{dataOrdem}" type="text" class="form-control datepicker data-mask" id="dataOrdem" th:errorclass="is-invalid" autocomplete="off">
				</div>

				<div class="form-group col-sm-3">
					<label class="form-control-label" for="secretaria"><span class="text-danger">*</span>Secretaria</label>
					
					<select th:field="*{secretaria}" class="form-control" id="secretaria" th:errorclass="is-invalid">
						<option value="">Selecione a secretaria</option>
						<option th:each="secretaria : ${secretarias}" th:value="${secretaria.codigo}" th:text="${secretaria.nome}"></option>
					</select>
				</div>
				
				<div class="form-group col-sm-3">
					<label class="form-control-label" for="fornecedor"><span class="text-danger">*</span>Fornecedor</label>
					
					<select th:field="*{fornecedor}" class="form-control" id="fornecedor" th:errorclass="is-invalid">
						<option value="">Selecione o fornecedor</option>
						<option th:each="fornecedor : ${fornecedores}" th:value="${fornecedor.codigo}" th:text="${fornecedor.nome}"></option>
					</select>
				</div>
			</div>	
			
			<div class="row">				
				<div class="form-group col-sm-12">
					<label class="form-control-label" for="objeto"><span class="text-danger">*</span>Objeto do contrato (Especificação)</label>
					<textarea th:field="*{objeto}" rows="5" cols="5" class="form-control" id="objeto" th:errorclass="is-invalid"></textarea>
				</div>
			</div>
			
			<hr />
			
			<div class="row mb-3">
				<div class="col-sm-12 text-right">
					<button type="submit" class="btn btn-primary"><i class="fas fa-filter"></i> Pesquisar</button>
				</div>
			</div>
		</form>

		<div class="row">
			<div class="col-sm-12 table-responsive">
				<table class="table table-hover thead-light table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
						<th class="text-center">Número</th>
						<th class="text-center">Data ordem</th>
						<th>Objeto</th>
						<th>Fornecedor</th>
						<th>Secretaria</th>
						<th style="width: 10%;" colspan="3" class="text-center">Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="compradireta : ${pagina.content}">
							<td class="text-center">
								<a th:href="@{|/comprasdiretas/${compradireta.codigo}|}">#[[${compradireta.numero}]]</a>
							</td>
							<td class="text-center">[[${{compradireta.dataOrdem}}]]</td>
							<td th:text="${compradireta.objeto}"></td>
							<td th:text="${compradireta.fornecedor.nome}"></td>
							<td th:text="${compradireta.secretaria.nome}"></td>
							
							<td class="text-center">
								<a target="_blank" th:href="@{|/relatorios/compradireta/${compradireta.codigo}|}" data-toggle="tooltip" title="IMPRIMIR ORDEM DE COMPRA" data-position="top">
									<i class="fas fa-file-pdf"></i>
								</a>
							</td>
							
							<td class="text-center">
								<div th:if="${#strings.contains(#authentication.principal.authorities, 'ADMINISTRADOR')}">
									<a th:href="@{|/comprasdiretas/${compradireta.codigo}|}" data-toggle="tooltip" title="EDITAR" data-position="top">
										<i class="fas fa-pencil-alt"></i>
									</a>
								</div>
							</td>
							<td class="text-center" data-toggle="tooltip" title="EXCLUIR" data-position="top"> 
								<div th:if="${#strings.contains(#authentication.principal.authorities, 'ADMINISTRADOR')}">
									<a href="javascript:;" class="js-btn-excluir" th:url="@{|/comprasdiretas/${compradireta.codigo}|}">
										<i class="fas fa-trash-alt text-danger"></i>
									</a>
								</div>
							</td>							
						</tr>
						
						<tr th:if="${#lists.isEmpty(pagina.content)}">
							<td colspan="7" class="text-center">Nenhuma informação encontrado!</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<th:block th:include="componentes/Pagination"></th:block>
		</div>
	</div>
	
  	<!-- JavaScript -->
  	<th:block layout:fragment="javascripts">
  	<script th:src="@{vendor/sweetalert/sweetalert.min.js}"></script>
  	<script th:src="@{js/pdv.dialogo-excluir.js}"></script>
  	</th:block>
  	
  	<script>
	$(document).ready(function(){
	  $('[data-toggle="tooltip"]').tooltip();
	});
	</script>
</body>
</html>