<!DOCTYPE html>
<html 
    lang="pt-br"
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="'Index'"
    th:with="currentPage='contrato'">
    
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title></title>
</head>

<body>
	<div class="container" layout:fragment="conteudo">
		<h1 class="text-center">Pesquisar Contrato</h1>

		<div aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/}">Dashboard</a></li>
				<li class="breadcrumb-item active" aria-current="page">Contratos</li>
				<li class="breadcrumb-item"><a th:href="@{/contratos/novo}">Novo</a></li>
			</ol>
		</div>

		<form method="GET" th:object="${contratoFilter}" th:action="@{/contratos}">
			<div class="row">
				<div class="form-group col-sm-3">
					<label class="form-control-label" for="numero"><span class="text-danger">*</span>Número do contrato</label>
					<input type="text" th:field="*{numero}" class="form-control" id="numero" th:errorclass="is-invalid" autocomplete="off">
				</div>
				
				<div class="form-group col-sm-2 date">
					<label class="form-control-label" for="dataInicio"><span class="text-danger">*</span>Data Início</label>
					<input type="text" th:field="*{dataInicio}" class="form-control datepicker data-mask" id="dataInicio" th:errorclass="is-invalid" autocomplete="off">
				</div>
				
				<div class="form-group col-sm-2 date">
					<label class="form-control-label" for="dataTermino"><span class="text-danger">*</span>Data Término</label>
					<input type="text" th:field="*{dataTermino}" class="form-control datepicker data-mask" id="dataTermino" th:errorclass="is-invalid" autocomplete="off">
				</div>
				
				<div class="form-group col-sm-3">
					<label class="form-control-label" for="numeroLicitacao"><span class="text-danger">*</span>Número da Licitação</label>
					<input type="text" th:field="*{numeroLicitacao}" class="form-control" id="numeroLicitacao" th:errorclass="is-invalid" autocomplete="off">
				</div>
				
				<div class="form-group col-sm-2">
					<label class="form-control-label" for="valorContrato"><span class="text-danger">*</span>Valor do contrato</label>
					<input type="text" th:field="*{valorContrato}" class="form-control moeda-mask" id="valorContrato" th:errorclass="is-invalid" autocomplete="off">
				</div>
			</div>	
			
			<div class="row">
				<div class="form-group col-sm-4">
					<label class="form-control-label" for="secretaria"><span class="text-danger">*</span>Secretaria</label>
					
					<select th:field="*{secretaria}" class="form-control" id="secretaria" th:errorclass="is-invalid">
						<option value="">Selecione a secretaria</option>
						<option th:each="secretaria : ${secretarias}" th:value="${secretaria.codigo}" th:text="${secretaria.nome}"></option>
					</select>
				</div>
				
				<div class="form-group col-sm-4">
					<label class="form-control-label" for="fornecedor"><span class="text-danger">*</span>Fornecedor</label>
					
					<select th:field="*{fornecedor}" class="form-control" id="fornecedor" th:errorclass="is-invalid">
						<option value="">Selecione o fornecedor</option>
						<option th:each="fornecedor : ${fornecedores}" th:value="${fornecedor.codigo}" th:text="${fornecedor.nome}"></option>
					</select>
				</div>
				
				<div class="form-group col-sm-4">
					<label class="form-control-label" for="tipoMaterial"><span class="text-danger">*</span>Tipo de Material</label>
					
					<select th:field="*{tipoMaterial}" class="form-control" id="tipoMaterial" th:errorclass="is-invalid">
						<option value="">Selecione o tipo de material</option>
						<option th:each="tipoMaterial : ${materiais}" th:value="${tipoMaterial}" th:text="${tipoMaterial.descricao}"></option>
					</select>
				</div>
			</div>	
			
			<div class="row">				
				<div class="form-group col-sm-12">
					<label class="form-control-label" for="objeto"><span class="text-danger">*</span>Objeto do contrato (Especificação)</label>
					<textarea rows="5" cols="5" th:field="*{objeto}" class="form-control" id="objeto" th:errorclass="is-invalid"></textarea>
				</div>
			</div>
			
			<hr />
			
			<div class="row mb-3">
				<div class="col-sm-12 text-right">
					<button type="submit" class="btn btn-primary"><i class="fas fa-filter"></i> Pesquisar</button>
				</div>
			</div>
		</form>

		<div class="row">
			<div class="col-sm-12 table-responsive">
				<table class="table table-hover table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th>Número</th>
							<th>Data Inic.</th>
							<th>Data Térm.</th>
							<th>Num. Licitação</th>
							<th>Objeto</th>
							<th>Tipo Mat.</th>
							<th>Valor Cont.</th>
							<th>Fornecedor</th>
							<th>Secretaria</th>
							<th style="width: 10%;" colspan="2" class="text-center">Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="contrato : ${pagina.content}">
							<td>
								<a th:href="@{|/contratos/${contrato.codigo}|}">#[[${contrato.numero}]]</a>
							</td>
							
							<td>[[${{contrato.dataInicio}}]]</td>
							<td>[[${{contrato.dataTermino}}]]</td>
							<td th:text="${contrato.numeroLicitacao}"></td>
							<td th:text="${contrato.objeto}"></td>
							<td th:text="${contrato.tipoMaterial.descricao}"></td>
							<td>R$ [[${{contrato.valorContrato}}]]</td>
							<td th:text="${contrato.fornecedor.nome}"></td>
							<td th:text="${contrato.secretaria.nome}"></td>
							
							<td class="text-center">
								<div th:if="${#strings.contains(#authentication.principal.authorities, 'ADMINISTRADOR')}">
									<a th:href="@{|/contratos/${contrato.codigo}|}" data-toggle="tooltip" title="EDITAR" data-position="top">
										<i class="fas fa-pencil-alt"></i>
									</a>
								</div>
							</td>
							<td class="text-center" data-toggle="tooltip" title="EXCLUIR" data-position="top"> 
								<div th:if="${#strings.contains(#authentication.principal.authorities, 'ADMINISTRADOR')}">
									<a href="javascript:;" class="js-btn-excluir" th:url="@{|/contratos/${contrato.codigo}|}">
										<i class="fas fa-trash-alt text-danger"></i>
									</a>
								</div>
							</td>
						</tr>
						
						<tr th:if="${#lists.isEmpty(pagina.content)}">
							<td colspan="11" class="text-center">Nenhuma informação encontrado!</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<th:block th:include="componentes/Pagination"></th:block>
		</div>
	</div>
	
  	<!-- JavaScript -->
  	<th:block layout:fragment="javascripts">
  	<script th:src="@{vendor/sweetalert/sweetalert.min.js}"></script>
  	<script th:src="@{js/pdv.dialogo-excluir.js}"></script>
  	</th:block>
  	
  	<script>
	$(document).ready(function(){
	  $('[data-toggle="tooltip"]').tooltip();
	});
	</script>
</body>
</html>